@import "reset";
header{
    width:100%;
    height:100px;
    .header{
        width:1226px;
        height: 100px;
        margin:0 auto;
        background-color: white;
        position: relative;
        img{
            padding-top:25px;
        }
        span{
            font-size:30px;
            position: absolute;
            left:80px;
            top:18px;
        }
        i{
            font-size: 12px;
            color:#666;
            position: absolute;
            left:80px;
            top:60px;
        }
    }
}
// container
.container{
    width:100%;
    height:600px;
    background:url(../images/51111d0aa52f6.jpg) no-repeat  100%;
    position: relative;
    .box{
        width: 400px;
        height:420px;
        background-color:white;
        position:absolute;
        left:990px;
        top:40px;
        span:nth-of-type(1){
            position: absolute;
            font-size:28px;
            color:orangered;
            left:70px;
            top:10px;
        }
        span:nth-of-type(2){
            position: absolute;
            font-size:28px;
            color:black;
            left:200px;
            top:10px;
        }
        input:nth-of-type(1){
            position: absolute;
            width:345px;
            height:40px;
            left:30px;
            top:100px;
        }
        input:nth-of-type(2){
            position: absolute;
            width:345px;
            height:40px;
            left:30px;
            top:170px;
        }
        button{
            width:345px;
            font-size: 18px;
            color:white;
            height:40px;
            background-color: orangered;
            border:0;
            left:30px;
            position: absolute;
            top:230px;
        }
    }
}